
mat-toolbar {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    display: flex;
}

mat-sidenav {
    width: 100px;
    border-right: none;
    background-color: whitesmoke;
    color: black;
    padding: 16px;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100vh - 50px);
}

.content {
    height: calc(100vh - 80px);
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

.menu-button {
    width: 100%;
    height: calc(100% / 6.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    color: slategrey;
    transform: scale(1.5);
}

.title-image {
    display: block;
    height: 100%;
    margin: 0 auto;
}

